*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 62,5%;
    color: #fff;
    background-image: linear-gradient(50deg, #9ab3f2 0, #6c90d8 50%, #346ebe 100%);
}

p{
    font-size: 2rem;
    transition: font-size .8s;
}

p:hover{
    font-size: 2.4rem;
}